<div class="cpu-container">
  <div class="p-field flex justify-content-center align-items-center mt-4 mb-8">
    <div class="mx-4">Select Category:</div>
    <p-dropdown
      [options]="categories"
      [(ngModel)]="selectedCategory"
      optionLabel="label"
      placeholder="Select a category"
      [showClear]="true"
      (onChange)="onCategoryChange()"
    ></p-dropdown>
  </div>

  <app-grid-items
    [gridItems]="filteredCpus$"
    (onItemSelectEvent)="onCpuAdd($event)"
  ></app-grid-items>
</div>
